body, h1, h2, h3, p, ul, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.padding-x{
    padding: 0 10%;
    font-family: Montserrat;
}

* {
    box-sizing: border-box;
}

body nav { 
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
}

.nav-bg{
    border-radius: 0px 0px 8px 8px;
    background: #FFF;
    box-shadow: 0px 4px 26px 0px rgba(200, 200, 200, 0.55);
    padding: 10px 10%;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px; 
}

.logo{
    flex-shrink: 0;
}

.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-item p{
    color: var(--grey-300, #C3C5C8);
    /* @extend .text-lg; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    /* font-size: 16px;
    line-height: 120%;  */
}
.sidelist p{
    color: var(--grey-500, #696F79);
    /* @extend .text-lg; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    /* font-size: 16px;
    line-height: 120%;  */
}
.nav-notifications-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.alarmlist{
    display: flex;
    justify-content: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0 0 10px;
    width: 260px;
    height: 291px;
    margin-top: 72px;
    margin-right: 32px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
}
.nav-alarm-items{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.nav-notifications-item{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
    background-color: white;
}
.nav-notifications-item .badge:hover{
    background-color: red;
}
.badge{
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 4px 4px;
    border-radius: 50%;
    background: green;
    color: white;
    font-size: 14px;
}
.nav-sidelist-items{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0 0 10px;
    width: 260px;
    height: 291px;
    margin-top: 72px;
    margin-right: 32px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
}

.nav-sidelist-items ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.hidden{
    display: none;
}
.user-info{
    display: flex;
    flex-direction: column;
    font-size: small;
}
.tiles{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.nav-alarm-item {
    padding: 5px;
}

.nav-alarm-item p{
    font-size: 14px;
}
.nav-sidelist-item{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.sidelist ul{
    list-style: none;
    display: flex;
    gap: 20px; 
}
.dark-mode{
    background-color: black;
}

.icon-active img {
    color: green;
}

.numberOfMessages{
    background-color: #ff0000; /* Red background color */
    color: #ffffff; /* White text color */
    border-radius: 50%; /* Make it a circle */
    font-size: 10px; /* Set the font size */
    font-weight: bold; /* Make the text bold */
    position: relative; /* Position it relative to its containing element */
    top: 0;
    right: 0;
    z-index: 1;
}

.active-btn p{
    color: green;
}

.active{
    background-color: green;
}

.container{
    display: flex;
    padding: 40px 0;
    justify-content: flex-start;
}

.left-container{
    display: flex;
    flex-direction: column;
    flex: 8;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    overflow: hidden;
}


.headline{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.headline p{
    color: var(--grey-400, #8692A6);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.headline h2{
    color: var(--base-black, #000);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
}
.headline-rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headline-rate-left{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.headline-rate-left img{
    width: 100px;
}
.headline-rate-left p{
    font-size: 16px;
    font-weight: 500;
}
.headline-rate-right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
}

.slider-wrapper {
    background-color: #191919;
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(0px);
    height: 4rem;
    background-color: white;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    
}

#slide-arrow-prev {
    left: 0px;
}

#slide-arrow-next {
    right: 0;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flexbox;
    background-size: cover;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
}

  .slide:nth-child(1) {
    background-image: url(./images/conatiner/Rectangle.png);
}
  
  .slide:nth-child(2) {
    background-image: url(./images/conatiner/Rectangle.png);
    margin: 0;

  }
  
  .slide:nth-child(3) {
    background-image: url(./images/conatiner/Rectangle.png);
    margin: 0;
  }
  
  .slide:nth-child(4) {
    background-image: url(./images/conatiner/Rectangle.png);
    margin: 0;
  }

.description{
    color: var(--base-black, #000);

/* @extend .display-xs; */
    margin: 20px 0 0 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
}

.description-text{
    font-size: 14px;
    font-family: Montserrat;
    background-color: #FFF;
}
.blue-blocks{
    display: inline-flex;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    border-radius: 8px;
    background: var(--primary-100, #E9F9F1);
}
.service-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.all-services{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.purchase{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    font-family: Montserrat;

}
.purchase-operation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.purchase-counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border: none;
    gap: 64px;
    flex: 4;
    border-radius: 4px;

}
.purchase-counter button{
    border: 0;
    background-color: white;
    border-radius: 50%;
}
.purchase-btn{
    width: 150px;
    height: 40px;
    background-color: #1DBF73;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
}
.rating-rect{
    width: 200px;
    height: 8px;
    background-color: #C3C5C8;
    flex-grow: 1;
}
.rating-rect-green{
    position: relative;
    width: 140px;
    height: 8px;
    background-color: #f7d600;
}
.rate{
    display: flex;
    align-items: stretch;
    gap: 20px;
}
.rates{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 30px;
    gap: 20px;
}
.rate-name{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-grow: auto;
}
.service-rating{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rate-stars{
    display: flex;
    flex-grow: 1;
}
.testmonials{
    display: flex;
    flex-direction: column;
}
.testmonial{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    font-size: small;
}
.testmonial-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.testmonial-poster-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.post{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.user-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post-text{
    background-color: #C3C5C8;
    color: #000;
    padding: 10px;
    width: 550px;
    min-height: 100px;
}

.right-container{
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 30px;
}
.seller{
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 10px 0;
    margin: 0 0 10px 0;
}
.seller-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.poster-logo-with-green-dot{
    position: relative;
}
.poster-logo-with-green-dot img{
    width: 50px;

}
.green-dot{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 5px;
    right: 5px;
    background-color: #1DBF73;
    border-radius: 50px;
    z-index: 1;
}
.seller-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.seller-tools{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.seller-tools img{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
}
.seller-btn{
    width: 100%;
    height: 50px;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    background-color: #1DBF73;
    color: #FFF;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}
.info-icon{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 33px;
    gap: 5px;
    flex: 1;
}
.info-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px;
}
.share{
    margin: 30px 0;
}
.other-services{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.other-services-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.other-service-img{
    width: 50%;
    border-radius: 32px 0px 0 32px;
}
.other-services-info{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.other-services-info-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.other-services-info-rate img{
    width: 25px;
}
.other-service-info-rate-price img{
    width: 20px;
    height: 20px;
}
.other-service-info-rate-price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.suggested-services{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 40px 0 ;
}
.suggested-services-card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 5px 0;
}

.suggested-services-img img {
    width: 100%;
    height: auto;
    border-radius: 50px 50px 0 0;
}

.suggested-services-img {
    position: relative;
}

.suggested-services-heart-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.suggested-services-heart {
    width: 30px;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
}

.suggested-services-circle {
    width: 45px; /* Same dimensions as the heart */
    height: 45px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0; /* Behind the heart */
}
.suggested-services-info{
    display: flex;
    padding: 0 10%;
    flex-direction: column;
    gap: 20px;
}
.suggested-services-info-rate-price{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.suggested-services-info-rate-price img{
    width: 25px;
}
.suggested-services-user{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.suggested-services-user-info{
    display: flex;
    gap: 10px;
    font-size: 12px;
    align-items: center;
}